{% extends "AcaLoc/base.html" %}
{% block content %}
    <form action="{% url 'AcaLoc-home' %}" class="search-form">
        <input type="text" list="Acalist" name="q" placeholder="Search" align="center" style="width:300px" ;>
    </form>
    <datalist id="Acalist">
        {% for a in query_chain %}
            <option value="{{ a.name }} {{ a.last_name }} {{ a.tag }}">
        {% endfor %}
    </datalist>
    {% if hasempty == 0 %}
        {% for a in query_chain %}
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-title">
                        <a class="mr-2" href="#">{{ a.buildings.name }} {{ a.buildings.tag }}</a>
                    </div>
                    <h2><a class="article-title" href="#">{{ a.name }} {{ a.last_name }} {{ a.tag }}</a></h2>
                    <button type="button">
                        <a href="{% url 'AcaLoc-showmap' %}">Map</a>
                    </button>

                </div>
            </article>
        {% endfor %}
    {% endif %}

{% endblock content %}